#bienvenidos {
  position: relative;
  overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); /* Añade sombra al texto */
}

#bienvenidos::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/brand/WeCann Portada.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeInLeft .35s forwards;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 191, 49, 1) 85%, rgba(0, 191, 49, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 191, 49, 1) 85%, rgba(0, 191, 49, 0) 100%);
  transform: translateY(20px);
}

@media (max-width: 1050px) {
  #bienvenidos::before {
    background-image: url('../../public/brand/WeCann Portada Mobile 1920x1080.jpg');
  }
}

@media (max-width: 768px) {
  #bienvenidos::before {
    background-image: none;
    background-color: #00BF30;
  }
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#bienvenidos .nuestraMision {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: background 0.4s ease, box-shadow 0.4s ease;
  background: linear-gradient(120deg, #00BF30, #20BF30);
  padding: 1rem;
  border-radius: 8px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Añade sombra al texto */
}

#bienvenidos .nuestraMision:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(120deg, #20BF30, #00BF30);
}

.legalidadProyecto {
  border: solid 1px rgba(0, 0, 0, 0.5);
  color: black;
  padding: 1rem;
  border-radius: 8px;
}

#conexiones{
  background-color: #f1f1f1;
}